<template name="site_settings">
  <div class="container site-settings">
    <div class="row">
      <div class="large-10 columns">
        <h2>Site Settings</h2>
        {{#with settings}}
        <form class="form-horizontal" id="siteSettingsForm">
          <div class="row">
            <div class="large-4 columns">
              <label>Site Name</label>
              <input type="text" id="siteName" name="siteName"  value="{{siteName}}" placeholder="Site Name">
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <label>Site Logo URL</label>
              <input type="text" id="logoUrl" name="logoUrl"  value="{{logoUrl}}" placeholder="Logo URL">
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <label>Site Index Page</label>
              <select name="indexPage" id="indexPage">
                {{#each pages}}
                <option value="{{slug}}" {{#if indexPageEquals slug}}selected="selected"{{/if}}>{{title}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="large-6 columns">
              <label>Header Settings</label>

              <label class="checkbox-label" for="showLoginInHeader">
                <input id="showLoginInHeader" name="showLoginInHeader" {{#if showLoginInHeader}}checked="checked"{{/if}} type="checkbox" /> Show login menu in header
              </label>
              <label class="checkbox-label" for="addNewPagesToHeader">
                <input id="addNewPagesToHeader" name="addNewPagesToHeader" {{#if addNewPagesToHeader}}checked="checked"{{/if}} type="checkbox" /> Add new pages to header by default
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-6 columns">
              <label>Footer Settings</label>
              <input type="text" id="footerMessage" name="footerMessage"  value="{{footerMessage}}" placeholder="Footer Message (e.g. copyright)">
              <label class="checkbox-label" for="addNewPagesToHeader">
                <input id="addNewPagesToFooter" name="addNewPagesToFooter" {{#if addNewPagesToFooter}}checked="checked"{{/if}} type="checkbox" /> Add new pages to footer by default
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <label>Filepicker.io API key</label>
              <input type="text" id="filepickerKey" name="filepickerKey"  value="{{filepickerKey}}" placeholder="API Key">
            </div>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <input id="savePage" type="submit" class="button" value="Save" />
            </div>
          </div>
        </form>
        {{/with}}
    </div>
  </div>
</template>