<template name="edit_block">
  <div class="azimuth-modal edit-block-modal" id="editBlockModal">
    <div class="modal-header row">
      <div class="large-12 columns"><h3>Edit Block</h3></div>
    </div>
    <form id="editBlockForm">
      <div class="row">
        <div class="large-12 columns modal-body">
          <!-- Block edit form goes here -->
        </div>
      </div>
    </form>
    <div class="modal-footer row">
      <div class="large-2 columns">
        <a href="#" class="button secondary close">Cancel</a>
      </div>
      <div class="large-2 large-offset-8 columns">
        <a href="#" class="edit-block-confirm button">Save</a>
      </div>
    </div>
  </div>
</template>
