<template name="existing_block">
  <div class="azimuth-modal" id="existingBlockModal">
    <div class="modal-header row">
      <div class="large-12 columns"><h3>Add Existing Block</h3></div>
    </div>
    <div class="modal-body row">
      <!-- [Add Block] | Block template | Date created | [Preview] (shows below) -->
      <div class="large-6 columns">
        <table class="table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Template</th>
              <th>Created</th>
              <th style="width: 36px;"></th>
            </tr>
          </thead>
          <tbody>
            {{#each allBlocks}}
              <tr>
                <td><a class="button add-existing-block" id="{{_id}}">Insert</a></td>
                <td>{{template}}</td>
                <td>{{humanReadableTime created}}</td>
                <td><a class="preview-block"><div class="block-preview" style="display: none;">{{{renderBlock this}}}</div><i class="icon-search"></i></a></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="large-6 columns existingBlockPreview"></div>
    </div>
    <div class="modal-footer">
      <a class="button secondary close">Cancel</a>
    </div>
  </div>
</template>
