<template name="tag_block">
  <div class="azimuth-modal" id="blockTagModal" data-zone={{zone}}>
    <div class="modal-header row">
      <div class="large-12 columns"><h3>Add Blocks by Tag</h3></div>
    </div>
    <div class="modal-body row">
      <div class="large-6 columns">
        <input type="text" name="tag" id="tag" placeholder="Enter Tag" />
      </div>
    </div>
    <div class="modal-footer">
      <div class="large-2 columns">
        <a href="#" class="button secondary close">Cancel</a>
      </div>
      <div class="large-2 large-offset-8 columns">
        <a href="#" class="add-block-by-tag button">Save</a>
      </div>
    </div>
  </div>
</template>
