<template name="block_display">
  <div class="azimuth-block-zone row" data-zone={{zone}}>
    {{#if isAuthorOrAdmin}}
      <div class="azimuth-block-zone-toolbar row">
        <h4>{{zoneLabel zone}}</h4>
        <a href="#" title="Add New Block" class="block-zone-add"><i class="icon icon-plus"></i></a>
        <a href="#" title="Block Zone Settings" class="block-zone-edit"><i class="icon icon-gear"></i></a>
      </div>
    {{/if}}
    {{#each pageBlocks}}
      <div class="azimuth-block {{classifyTags}}" data-page-block-id="{{_id}}" >
        {{> renderPageBlock this}}
      </div>
      {{#if break}}<div class="clear"></div>{{/if}}
    {{else}}
      <div class="no-blocks">
        <h3>There are no blocks in this block zone.  Click <a href="#" class="block-zone-add" data-zone={{zone}}><i class="icon icon-plus"></i></a> to add one!</h3>
      </div>
    {{/each}}
  </div>
  {{#if numSets}}
    <ul class="pagination" data-zone={{zone}}>
      {{#each numSets}}
        <li class="{{currentBlockPage zone}}"><a class="page" href="#">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

</template>