<template name="header">
  <nav class="top-bar hide-until-rendered">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1 class="nav-title"><a href="/">{{#if getSetting 'logoUrl'}}<img class="logo" src="{{getSetting 'logoUrl'}}">{{/if}}{{getSetting 'siteName'}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">

      {{#if getSetting 'showLoginInHeader'}}
        <ul class="right">
          <li class=""><a href="/login"><i class="icon icon-user{{#if signedInAs}} logged-in{{/if}}"></i><span class="show-for-small">Login / Logout</span></a></li>
        </ul>
      {{/if}}

      {{#with headerNav}}
        {{>header_nav_root}}
      {{/with}}
    </section>
  </nav>
</template>

<template name="header_nav_root">
  <ul class="left">
    {{#each this}}
      {{#if children}}
        <li class="has-dropdown">
          <a href="{{url}}" data-toggle="dropdown">{{title}}<b class="caret"></b></a>
          {{>header_nav_child}}
        </li>
      {{else}}
        <li>
          <a href="{{url}}">{{title}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</template>

<template name="header_nav_child">
  <ul class="dropdown">
    {{#each children}}
      {{#if children}}
        <li class="has-dropdown">
          <a href="{{url}}">{{title}}<b class="caret"></b></a>
          {{>header_nav_child}}
        </li>
      {{else}}
        <li>
          <a href="{{url}}">{{title}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</template>